.job-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .my-job {
    margin: 70px;
    max-width: 48rem; /* Equivalent to max-w-7xl */
    margin-left: auto; /* Equivalent to mx-auto */
    margin-right: auto; /* Equivalent to mx-auto */
    padding-left: 1rem; /* Equivalent to px-4 */
    padding-right: 1rem; 
    margin-top: 100px;/* Equivalent to px-4 */
  }

  .job-card div {
    margin-bottom: 5px;
  }
  
  .job-card .salary {
    margin-top: 5px;
  }
  
  .job-card .salary div {
    margin-left: 10px;
  }
  
  .job-card .salary .title {
    font-weight: bold;
  }
  
  